### JetBrains
# Covers JetBrains IDE : PyCharm
# See https://www.jetbrains.com/help/pycharm/setting-up-your-project.html
# All the settings files in the .idea directory is put under version control
# except workspace.xml, which stores your local preferences.
/shelf/
/workspace.xml
